{{ define "main" }}
	
	<script>

		Element.prototype.remove = function() {
		    this.parentElement.removeChild(this);
		}
		NodeList.prototype.remove = HTMLCollection.prototype.remove = function() {
		    for(var i = this.length - 1; i >= 0; i--) {
		        if(this[i] && this[i].parentElement) {
		            this[i].parentElement.removeChild(this[i]);
		        }
		    }
		}

		document.getElementById("header").remove();
		document.getElementById("content").classList.remove("offset-by-three");
		document.documentElement.style.backgroundColor = "transparent";

	</script>

	<div>
		<div id='colours'></div>

		<link rel="stylesheet" href="/css/colours/v1.css">
		<script src="/js/colours/v1.js"></script>

		<script>
			init({{ .Params.speed }});
		</script>
	</div>

{{ end }}