<head>
  <meta
    name="google-site-verification"
    content="{{ .Site.Params.google_site_verification }}"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.6.1/css/brands.css"
    integrity="sha384-whKHCkwP9f4MyD1vda26+XRyEg2zkyZezur14Kxc784RxUU1E7HvWVYj9EoJnUV7"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.6.1/css/fontawesome.css"
    integrity="sha384-WK8BzK0mpgOdhCxq86nInFqSWLzR5UAsNg0MGX9aDaIIrFWQ38dGdhwnNCAoXFxL"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/css/stylesheet.css" />

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
  />
  <meta name="theme-color" content="#772953" />
  <meta charset="utf-8" />

  <link rel="shortcut icon" type="image/png" href="/favicon.png" />
  <title>{{ .Title }} | {{ .Site.Title }}</title>
</head>
