<!DOCTYPE html>
<html lang="en">
  {{- partial "head.html" . -}}
  <body>
    <div class="flex-container">
      <div class="sidebar fixed">{{- partial "sidebar.html" . -}}</div>
      <div class="content flex-item" style="width:75%;">
        <div class="container" style="padding: 25px;">
          {{- block "main" . }}{{- end }}
        </div>
      </div>
    </div>
  </body>
  <script>
    var path = document.getElementById("path");
    var pathText = path.textContent;
    var pathMarkup = path.innerHTML;

    splitPath = pathText.split("/")
    splitPath.shift()
    splitPath.pop()


    if(splitPath.length > 1){
      splitPath.pop()
      splitPath.forEach(function(directory){
        console.log(directory)
        var anchor = "<a href=\"{{ .Site.BaseURL }}" + directory + "/\" class=\"inherit-colour\">" + directory + "</a>"

        if(pathMarkup.includes(directory)){
          path.innerHTML = path.innerHTML.replace(directory, anchor)
        }
      })
    }
  </script>
</html>
